/* styles/fonts.css */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* 
@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript.ttf') format('truetype');

}
*/


@font-face {
  font-family: 'RubikBubbles';
  src: url('/fonts/RubikBubbles.ttf') format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: url('/fonts/Satisfy.ttf') format('truetype');
}

.font1 {
  font-family: 'Dancing Script';
}

.font2 {
  font-family:'RubikBubbles';
}

.font3 {
  font-family:'Satisfy';
}
